<header>
  <div class="header-container">
    <a routerLink="/" (click)="closeMenu()">
      <h1>Magic the Gathering&trade;</h1></a
    >
    <nav>
      <button (click)="onToggleMenu()" class="menu-button">
        <img src="../../assets/img/menu.png" alt="White menu icon" />
      </button>
      <div class="desktop-nav">
        <a
          routerLink="/sets"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Sets</a
        >
        <a
          routerLink="/name"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Cards by name</a
        >
      </div>
    </nav>
  </div>
  <div class="header-panel" [ngClass]="{ hidden: !showSidebar }">
    <nav>
      <ul>
        <li>
          <a routerLink="/sets" (click)="closeMenu()">See cards by set</a>
        </li>
        <li>
          <a routerLink="/name" (click)="closeMenu()">Search cards by name</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
