@import "../../assets/styles/colors", "../../assets/styles/fonts",
  "../../assets/styles/mixin";

header {
  > * {
    @include container-padding;
  }

  .header-container {
    background-color: $darker;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Magic", serif;
      font-size: 1.3rem;
    }
  }

  nav {
    button {
      width: 1.7rem;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .header-panel {
    position: fixed;
    min-height: 20%;
    width: 100%;
    opacity: 0.9;
    background-color: lighten($darker, 2);
    nav {
      @include container-padding;
    }
  }

  .hidden {
    display: none;
  }
}
