@import "../../assets/styles/colors", "../../assets/styles/fonts",
  "../../assets/styles/mixin";

footer {
  @include container-padding(1rem);
  background-color: $darker;

  text-align: center;
  font-size: 0.8rem;

  a {
    text-decoration: underline;
  }

  @media only screen and (min-width: 700px) {
    text-align: right;
  }
}
