@import "../../assets/styles/colors", "../../assets/styles/fonts",
  "../../assets/styles/mixin";

footer {
  @include container-padding;
  background-color: $darker;

  text-align: center;
  font-size: 0.8rem;

  @media only screen and (min-width: 700px) {
    text-align: right;
  }
}
