@import "../../../assets/styles/colors", "../../../assets/styles/fonts",
  "../../../assets/styles/mixin";

.hero-container {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-image: url("../../../assets/img/foundry_mobile.jpg");
  @media (orientation: landscape) {
    background-image: url("../../../assets/img/foundry_desktop.jpg");
  }

  background-position: bottom;
  background-size: cover;

  h2 {
    font-size: 1.5rem;
    color: $dark;
    font-weight: bold;
    letter-spacing: 2px;

    text-align: center;
    display: block;
    max-width: 80%;
  }

  span {
    display: inline-block;
    margin-top: 0.5rem;

    color: $darker;
    font-family: "Magic", serif;
    font-size: 2.5rem;

    span {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 700px) {
    h2 {
      letter-spacing: 3px;
      line-height: 2;
      font-size: 2rem;
    }

    span {
      margin-top: 0;

      font-size: 3.5rem;
      span {
        font-size: 3rem;
      }
    }
  }
}
