@import "../../../../../assets/styles/colors";

.card-container {
  margin: 1rem auto;
  padding: 1rem;

  background-color: $white;
  border-radius: 10px;

  height: 100%;

  border: 10px black solid;
  border-bottom: 30px black solid;

  img {
    width: 75%;
    margin-top: 1rem;
  }

  > * {
    color: black;
    text-align: left;
  }

  h3 {
    font-family: "Magic";
    font-size: 1.5rem;
    text-align: center;

    margin-bottom: 0.5rem;
  }

  q {
    display: inline-block;
    width: 95%;
    text-align: center;
    font-style: italic;

    margin-top: 1rem;
  }
}
