@import "../../../assets/styles/colors", "../../../assets/styles/fonts",
  "../../../assets/styles/mixin";

section {
  @include desktop-container;
  @include container-padding;
  @include mobile-container;

  select {
    @include styled-input;
    text-overflow: ellipsis;
    font-size: 12px;
    text-align-last: center;
    option {
      font-size: 11px;
      border: 0;
      background-color: $darker;
    }
  }
}
