@import "../../../assets/styles/colors", "../../../assets/styles/fonts",
  "../../../assets/styles/mixin";

section {
  @include desktop-container;
  @include mobile-container;
  @include content-section;

  .card-name-input {
    @include styled-input;

    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 3px;
  }

  .no-results {
    margin-top: 5rem;
    font-size: 1.3rem;
  }

  @media only screen and (min-width: 700px) {
    .card-name-input {
      margin-top: 2rem;
    }
  }
}
