@import "../../../assets/styles/colors", "../../../assets/styles/fonts",
  "../../../assets/styles/mixin";

section {
  @include desktop-container;
  @include container-padding;
  @include mobile-container;
}

.card-name-input {
  @include styled-input;

  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 3px;
}
