/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colors", "./assets/styles/fonts";

body {
  background-color: $dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: white;
}

button {
    background-color: inherit;
    outline: none;
    border: none;
}
