/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colors", "./assets/styles/fonts",
  "./assets/styles/mixin";

body {
  min-height: 100vh;
  background-color: $dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: $white;

  max-width: 100vw;

  font-family: sans-serif;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

.page-container {
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.magic-symbols {
  font-size: 2.5rem;
  font-family: "Magic", serif;
}

.header-container,
.header-panel,
footer {
  @include container-padding(1rem);
}
