@mixin container-padding {
  padding: 1.2rem 1rem;
}

@mixin desktop-container {
  max-width: 900px;
  margin: 0 auto;
}

@mixin mobile-container {
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  small {
    font-size: 0.8rem;
  }

  overflow-wrap: break-word;
}
