@mixin container-padding($top-margin) {
  padding: $top-margin 1rem 1.2rem 1rem;
}

@mixin desktop-container {
  max-width: 750px;
  margin: 0 auto;
}

@mixin mobile-container {
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  small {
    font-size: 0.8rem;
  }

  overflow-wrap: break-word;
}

@mixin styled-input {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1.5rem 0;

  background-color: inherit;
  border: 0px;
  border-bottom: 7px $darker solid;

  color: $white;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

@mixin bullet-point {
  content: "‣ ";
  margin-right: 0.5rem;
}

@mixin content-section {
  @include container-padding(3rem);

  h2 {
    margin: 0 auto 1rem auto;
    font-size: 1.7rem;
  }

  @media only screen and (min-width: 700px) {
    h2 {
      font-size: 2rem;
    }
    @include container-padding(5rem);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
